/*body > ngx-app > pages > ngx-simple-layout > nb-layout.window-mode.with-scroll > ngb-modal-window.modal.fade.show > div.modal-dialog.modal-lg > div.modal-content {
    height: 800px;
}

body > ngx-app > pages > ngx-simple-layout > nb-layout.window-mode.with-scroll > ngb-modal-window.modal.fade.show > div.modal-dialog.modal-lg > div.modal-content {
    height: 800px;
}

body > ngx-app > pages > ngx-simple-layout > nb-layout.window-mode.with-scroll > ngb-modal-window.modal.fade.show > div.modal-dialog.modal-lg > div.modal-content > add-question >
div.modal-body > div {
    height: 788px ;
}*/