<div class="modal-header">
    <span>{{ modalHeader }}</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
  <div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
          <nb-card>
            <nb-card-header>Question</nb-card-header>
            <nb-card-body>
              <div class="row full-name-inputs">
                <div class="col-sm-6 input-group">
                  <input name="questionWording" [(ngModel)]="question.questionWording" #questionWording="ngModel"
                  id="input-question-wording" class="form-control" placeholder="Question Wording" 
                  [class.form-control-danger]="questionWording.invalid &&  questionWording.touched"
                  autofocus [required]="true">
                </div>
                <div class="col-sm-6 input-group">
                  <input name="pontuation" [(ngModel)]="question.pontuation" #pontuation="ngModel"
                    id="input-pontuation" class="form-control" placeholder="Pontuation" 
                    [class.form-control-danger]="pontuation.invalid && pontuation.touched"
                    autofocus [required]="true">
                </div>
              </div>
              <div class="row full-name-inputs">
                <div class="col-sm-6 input-group">
                  <small class="form-text error" *ngIf="questionWording.invalid && 
                    questionWording.touched && questionWording.errors?.required">
                    Question Wording is required!
                  </small>
                </div>
                <div class="col-sm-6 input-group">
                  <small class="form-text error" *ngIf="pontuation.invalid && 
                    pontuation.touched && pontuation.errors?.required">
                    Pontuation is required!
                  </small>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-md btn-success" (click)="closeModal()">Add</button>
  </div>
